In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from math import sqrt

In [ ]:
data = pd.read_csv("/content/ds_salaries (1).csv")

In [ ]:
data.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
data = pd.get_dummies(data, drop_first=True)

In [ ]:
X = data.drop('salary', axis=1)
y = data['salary']

In [ ]:
print(X)

      work_year  salary_in_usd  remote_ratio  experience_level_EX  \
0          2023          85847           100                    0
1          2023          30000           100                    0
2          2023          25500           100                    0
3          2023         175000           100                    0
4          2023         120000           100                    0
...         ...            ...           ...                  ...
3750       2020         412000           100                    0
3751       2021         151000           100                    0
3752       2020         105000           100                    0
3753       2020         100000           100                    0
3754       2021          94665            50                    0

      experience_level_MI  experience_level_SE  employment_type_FL  \
0                       0                    1                   0
1                       1                    0                   0
2                       1                    0                   0
3                       0                    1                   0
4                       0                    1                   0
...                   ...                  ...                 ...
3750                    0                    1                   0
3751                    1                    0                   0
3752                    0                    0                   0
3753                    0                    0                   0
3754                    0                    1                   0

      employment_type_FT  employment_type_PT  job_title_AI Developer  ...  \
0                      1                   0                       0  ...
1                      0                   0                       0  ...
2                      0                   0                       0  ...
3                      1                   0                       0  ...
4                      1                   0                       0  ...
...                  ...                 ...                     ...  ...
3750                   1                   0                       0  ...
3751                   1                   0                       0  ...
3752                   1                   0                       0  ...
3753                   0                   0                       0  ...
3754                   1                   0                       0  ...

      company_location_SG  company_location_SI  company_location_SK  \
0                       0                    0                    0
1                       0                    0                    0
2                       0                    0                    0
3                       0                    0                    0
4                       0                    0                    0
...                   ...                  ...                  ...
3750                    0                    0                    0
3751                    0                    0                    0
3752                    0                    0                    0
3753                    0                    0                    0
3754                    0                    0                    0

      company_location_TH  company_location_TR  company_location_UA  \
0                       0                    0                    0
1                       0                    0                    0
2                       0                    0                    0
3                       0                    0                    0
4                       0                    0                    0
...                   ...                  ...                  ...
3750                    0                    0                    0
3751                    0                    0                    0
3752                    0                    0                    0
3753                    0                    0                    0
3754                    0                    0                    0

      company_location_US  company_location_VN  company_size_M  company_size_S
0                       0                    0               0               0
1                       1                    0               0               1
2                       1                    0               0               1
3                       0                    0               1               0
4                       0                    0               1               0
...                   ...                  ...             ...             ...
3750                    1                    0               0               0
3751                    1                    0               0               0
3752                    1                    0               0               1
3753                    1                    0               0               0
3754                    0                    0               0               0

[2584 rows x 270 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
mse = mean_squared_error(y_test, y_pred)
rmse = sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [ ]:

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2) Score:", r2)

Mean Squared Error (MSE): 96627569515.92352
Root Mean Squared Error (RMSE): 310849.7539261106
Mean Absolute Error (MAE): 81155.35562183885
R-squared (R2) Score: 0.6916309973052875

In [ ]:
data.corr()

,work_year,salary,salary_in_usd,remote_ratio,experience_level_EX,experience_level_MI,experience_level_SE,employment_type_FL,employment_type_FT,employment_type_PT,...,company_location_SG,company_location_SI,company_location_SK,company_location_TH,company_location_TR,company_location_UA,company_location_US,company_location_VN,company_size_M,company_size_S
work_year,1.000000,-0.099153,0.236958,-0.219160,-0.002470,-0.118145,0.209062,-0.050018,0.118031,-0.096620,...,-0.019392,-0.015827,-0.007909,0.001468,-0.052969,0.010457,0.254420,0.018360,0.454379,-0.266014
salary,-0.099153,1.000000,-0.043672,0.026485,0.010287,0.048090,-0.043944,0.006048,0.009695,-0.013141,...,0.005830,-0.007536,-0.004831,0.017217,-0.005219,-0.007433,-0.103623,-0.004831,-0.134592,0.022066
salary_in_usd,0.236958,-0.043672,1.000000,-0.084502,0.168762,-0.276679,0.374915,-0.075773,0.126737,-0.113812,...,-0.057306,-0.041439,-0.035411,-0.056046,-0.075011,-0.044323,0.484879,-0.035589,0.229476,-0.201406
remote_ratio,-0.219160,0.026485,-0.084502,1.000000,-0.014721,-0.004988,-0.030395,0.025261,-0.073201,0.043917,...,0.016213,0.030268,0.020233,0.011457,-0.009586,-0.010617,-0.068969,-0.020628,-0.168794,0.113764
experience_level_EX,-0.002470,0.010287,0.168762,-0.014721,1.000000,-0.115516,-0.241278,-0.012244,0.006452,-0.015985,...,-0.009476,-0.007734,-0.003865,-0.006697,-0.008649,-0.007734,0.039203,-0.003865,0.008247,0.004759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
company_location_UA,0.010457,-0.007433,-0.044323,-0.010617,-0.007734,-0.023155,0.011951,0.156089,-0.078113,-0.003204,...,-0.001900,-0.001550,-0.000775,-0.001342,-0.001734,1.000000,-0.067572,-0.000775,-0.027291,0.032827
company_location_US,0.254420,-0.103623,0.484879,-0.068969,0.039203,-0.237572,0.317821,-0.049651,0.072047,-0.073628,...,-0.082790,-0.067572,-0.033766,-0.058508,-0.075562,-0.067572,1.000000,-0.033766,0.307551,-0.217918
company_location_VN,0.018360,-0.004831,-0.035589,-0.020628,-0.003865,-0.011571,-0.024168,-0.001226,0.002372,-0.001601,...,-0.000949,-0.000775,-0.000387,-0.000671,-0.000866,-0.000775,-0.033766,1.000000,-0.037578,-0.004832
company_size_M,0.454379,-0.134592,0.229476,-0.168794,0.008247,-0.082171,0.237303,-0.043202,0.119211,-0.097176,...,-0.053004,-0.027291,-0.037578,-0.037458,0.001625,-0.027291,0.307551,-0.037578,1.000000,-0.469059
company_size_S,-0.266014,0.022066,-0.201406,0.113764,0.004759,0.042924,-0.154940,0.092329,-0.167286,0.104013,...,-0.011849,-0.009671,0.080114,-0.008373,-0.010814,0.032827,-0.217918,-0.004832,-0.469059,1.000000